@model EverythingListApp.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Register";
}
<h2>&nbsp;</h2>
<section class="container" id="more">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
            <!-- Nav tabs -->
            <div class="">
                <ul class="nav nav-tabs tm-white-bg">
                    <li class="active">
                        <a href="@Url.Action("Register","Account")">Register</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login","Account")">Login</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                        <div class="tm-search-box effect2">
                            <form action="/Account/Register" method="post" class="hotel-search-form">
                                @Html.AntiForgeryToken()
                                <div class="tm-form-inner">
                                    <div class="form-group">
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @placeholder="Enter Full Name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                    </div>
                                    <div class="form-group margin-bottom-0">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password" })
                                    </div>
                                </div>
                                <div class="form-group tm-yellow-gradient-bg text-center">
                                    <button type="submit" name="submit" class="tm-yellow-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
