@model EverythingListApp.ViewModels.ListItemVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PplQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PplQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>


<hr />
<h3>Items</h3>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Description
            </th>
            <th>
                Shop Links
            </th>
            <th>
                Quantity
            </th>
        </tr>
        @foreach (var item in Model.ListDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Item.ShopLink)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ItemQty)
                </td>
            </tr>
        }
    </table>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ListID }) |*@
        @*@Html.ActionLink("Next", "Details", new { id = Model.ListID }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>