@model EverythingListApp.Models.List

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PplQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PplQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ListDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListDetails)
        </dd>*@
        
        @*@foreach (var item in Model)
        {
            @Html.DisplayFor(item => item.ListDetails.)
        }*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
